.projects {
  display: grid;
  gap: var(--space-2xl);
}

.projects__card {
  display: grid;
  gap: var(--space-sm);
}

.projects__heading {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.projects__tech {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-3xs);
}

.projects__card ul {
  margin: 0;
  padding-left: 1.3rem;
  display: grid;
  gap: var(--space-3xs);
}
